<div class="column center w-80 page">
  <section class="row filter-row">
    <app-text-filter
      (textFilterChange)="textFilterChange($event)"
      (groupFilterChange)="groupFilterChange($event)"
      class="w-100"
    ></app-text-filter>
  </section>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "NOMBRE" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.fullname }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "DNI" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
    </ng-container>

    <ng-container matColumnDef="notInvoicedHours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "PENDING_HOURS" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.notInvoicedHours }}
      </td>
    </ng-container>

    <ng-container matColumnDef="hoursResume">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ "HOURS_RESUME" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.invoicedHours }} / {{ element.totalHours }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openDialog(row)"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        {{ "NO_DATA_FILTER" | translate }} "{{ getFiltersNoMatch() }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="paginatorSize"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
