.spacer {
  flex: 1 1 auto;
}
.toolbar {
  height: 100%;
}

.title {
  position: fixed;
}

.advise-icon {
  position: fixed;
  right: 0;
  &-color {
    color: orange;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
