<div
  class="app-container"
  bpFormatter
  [bpShow]="['web-l', 'tablet-l', 'phone-p']"
>
  <app-toolbar class="app-toolbar"></app-toolbar>

  <div class="app-body">
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div
  class="app-container"
  bpFormatter
  [bpShow]="['web-p', 'tablet-p', 'phone-l']"
>
  <mat-card class="w-80 center">
    <mat-card-title>
      {{ "APP_NOT_AVAILABLE_FORMAT" | translate }}
    </mat-card-title>
    <mat-card-content>
      <h1>{{ "APP_NOT_AVAILABLE_FORMAT_MESSAGE" | translate }}</h1>
      <div class="w-100 row row-center h">
        <mat-icon mat-list-icon class="edit-icon warning-icon"
          >warning_amber
        </mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>
